@import "~normalize.css";
@import "~@blueprintjs/core/lib/css/blueprint.css";
@import "~@blueprintjs/icons/lib/css/blueprint-icons.css";

body {
  margin: 10px auto;
}

.items-list {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  border: 2px black;
}

.items-list .bp3-tag {
  margin: 8px 0;
}

.items-list .bp3-checkbox {
  margin-left: 4px;
  margin-bottom: 4px;
}

.finished {
  text-decoration: line-through;
}

.bp4-tag.bp4-minimal:not([class*=bp4-intent-]) {
  background-color: white!important;
}
